@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
  font-family: 'Roboto', sans-serif;
}

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

::-ms-reveal {
  display: none;
}

.Toastify__progress-bar--wrp {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  color: 'rgba(110, 193, 37, 1)';
  border-bottom-left-radius: var(--toastify-toast-bd-radius);
}

.Toastify__close-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  z-index: 1;
}

.Toastify__toast-container.customToastContainer {
  width: 24rem;
}
.Toastify__close-button > svg {
  width: 1.25rem;
  height: 1.25rem;
}
.customToastSuccess .Toastify__close-button {
  color: #6EC125;
  opacity: 1;
}
.customToastError .Toastify__close-button {
  color: #E03130;
  opacity: 1;
}

.truncate-email {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Roboto'; 
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #5F6368;
}

.main-text {
  font-family: 'Nunito Sans';
}

.second-text {
  font-family: 'Roboto';
}

/* Design Style guide */

.heading-text {
  font-family: 'Nunito Sans';
  font-size: 22px;
  line-height: normal;
  font-weight: 500;
  color: #202124;
}

.first-sub-title {
  font-family: 'Nunito Sans';
  font-size: 16px;
  line-height: normal;
  font-weight: 600;
  color: #202124;
}

.second-sub-title{
  font-family: 'Nunito Sans';
  font-size: 14px;
  line-height: normal;
  font-weight: 600;
  color: #202124;
}

.third-sub-title {
  font-family: 'Nunito Sans';
  font-size: 12px;
  line-height: normal;
  font-weight: 400;
  color: #202124;
}

.table-heading {
  font-family: 'Nunito Sans';
  font-size: 12px;
  line-height: normal;
  font-weight: 600;
  color: #202124;
}

.table-data {
  font-family: 'Roboto';
  font-size: 12px;
  line-height: normal;
  font-weight: 400;
  color: #5F6368;
}

.left-nav {
  font-family: 'Nunito Sans';
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
  color: #808080;
}

.paragraph {
  font-family: 'Roboto';
  font-size: 12px;
  line-height: normal;
  font-weight: 400;
  color: #808080;
  letter-spacing: 0.06px;
}

.button {
  font-family: 'Nunito Sans';
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
  color: #5052b2;
}

.hyperlink {
  font-family: 'Nunito Sans';
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
  color: #5052b2;
}

.hyperlink-red {
  font-family: 'Nunito Sans';
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #f45745;
}

.tab-heading {
  font-family: 'Nunito Sans';
  font-size: 14px;
  color: #707071;
  font-weight: 500;
  line-height: 20px;
}

.form-input {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #202124;
}
.form-input-label {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #707071;
}
.MuiOutlinedInput-root {
  height: 48px;
}


.MuiOutlinedInput-input {
  padding: 12px 16px 13px 16px;
}


.MuiOutlinedInput-notchedOutline {
  border-color: rgba(208, 213, 221, 1);
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: rgba(208, 213, 221, 1); 
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgba(208, 213, 221, 1);
}

.MuiFormHelperText-root {
  margin-left: 0;
}



@media (max-width: 600px) {
  #urlInput {
    width: 100% !important;
  }
}

@media (max-width: 440px) {
  .Toastify__toast-container.customToastContainer {
    width: 100%;
    padding: 0 0.9375rem;
    top: 90px;
  }
}

input:-webkit-autofill, textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  box-shadow: 0 0 0 1000px white inset !important;
  background-color: transparent !important;
  -webkit-text-fill-color: #000 !important;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

