version: "3.9"

services:
  db:
    image: postgres
    environment:
      POSTGRES_DB: "maximiz"
      POSTGRES_USER: "user"
      POSTGRES_PASSWORD: "1234"
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
      RABBITMQ_DEFAULT_VHOST: /
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  clickhouse-server:
    image: clickhouse/clickhouse-server:23.3
    container_name: clickhouse-server
    restart: unless-stopped
    environment:
      CLICKHOUSE_DB: "${CLICKHOUSE_DATABASE:-default}"
      CLICKHOUSE_USER: "${CLICKHOUSE_USER:-default}"
      CLICKHOUSE_PASSWORD: "${CLICKHOUSE_PASSWORD:-}"
    ports:
      - "9000:9000"   
      - "8123:8123"                       
    volumes:
      - clickhouse_data:/var/lib/clickhouse  

volumes:
  postgres_data:
  rabbitmq_data:
  clickhouse_data:

