# Environments
*.*env
.inf
venv
.venv
# Cache
__pycache__
.pytest_cache/
.coverage
.python-version
pyproject.toml
uv.lock

# Vim
tags

# Docs
*/docs/build
Makefile
*.bat

# files
.suo
.vscode
app/data/cities.json

#User-specific stuff
*.idea

alembic/versions/*
!alembic/versions/.gitkeep

tmp/*
!tmp/.gitkeep

logs/*
!logs/.gitkeep
/README.md

utilities/*