# Environments
*.*env
.inf
venv
# Cache
__pycache__
.pytest_cache/
.coverage

# Vim
tags

# Docs
*/docs/build
Makefile
*.bat

# files
.suo
.vscode
app/data/cities.json
alembic/*

#User-specific stuff
*.idea


tmp/*
!tmp/.gitkeep

logs/*
!logs/.gitkeep
